{% extends 'base.html' %}

{% block content %}
  <h1>EDIT</h1>
  <hr>
  <form action="{% url 'movies:update' movie.pk %}" method="POST">
    {% csrf_token %}
    <label for="title">Title: </label>
    <input type="text" name="title" value="{{ movie.title }}"><br>
    <label for="audience">AUDIENCE: </label>
    <input type="number" name="audience" value="{{ movie.audience }}"><br>
    <label for="release_date">RELEASE_DATE: </label>
    <input type="date" name="release_date" value="{{movie.release_date|date:'Y-m-d'}}"><br>
    <label for="genre">GENRE: </label>
    <select name='genre'>
      <option value="{{ movie.genre }}" selected hidden>{{ movie.genre }}</option>
      <option value='코미디'>코미디</option>
      <option value='액션'>액션</option>
      <option value='판타지'>판타지</option>
      <option value='로맨스'>로맨스</option>
    </select><br>
    <label for="score">SCORE: </label>
    <input type="number" step="0.1" name="score" value="{{ movie.score }}"><br>
    <label for="poster_url">POSTER_URL: </label>
    <input type="text" name="poster_url" value="{{ movie.poster_url }}"><br>
    <label for="description">DESCRIPTION: </label>
    <textarea name="description" cols="20" rows="3">{{ movie.description }}</textarea><br>
    <input type="Reset" value="Reset">
    <input type="submit" value="submit">
  </form>
  <hr>
  <a href="{% url 'movies:index' %}">BACK</a>
{% endblock content %}