{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <img src="https://movie-phinf.pstatic.net/20160119_278/14531650465287bcuk_JPEG/movie_image.jpg" alt="dsaa" width ="250px">
  <h4>{{movie.title}}</h4>
  <p>Audience : {{movie.audience}}</p>
  <p>Release Dates : {{movie.release_date}}</p>
  <p>Genre : {{movie.genre}}</p>
  <p>Score : {{movie.score}}</p>
  <p>{{movie.description}}</p>
  <a href=" {% url 'movies:edit' movie.pk %}">EDIT</a>
  <form action=" {% url 'movies:delete' movie.pk %} " method="POST">
    {% csrf_token %}
    <input type="submit" value= "DELETE">
  </form>
  <a href="{% url 'movies:index' %}">BACK</a>
{% endblock content %}