{% extends 'articles/base.html' %}

{% block content %}
  <p>-----------이건 말이야 상속을 연습하려고 해본 drl2야~--------------</p>
  <h1>dtl2</h1>
  <p>-----------------여기는 values야---------------</p>
  <p>{{name}}</p>
  <p>{{age}}</p>
  <p>{{name}}의 나이는 {{age}}야!</p>
  <p>{{foods.0}}</p>
  <p>{{foods.1}}</p>
  <p>------------여기는 filter야 4 넣었어-----------</p>
  <p>{{name|lower|truncatechars:4}}</p>
  <p>------------------여기는 tag야------------</p>
  <p> ########for 문######### </p>
  {% for food in foods %}
    <p>{{food}}</p>
  {% endfor %}
  <p> #########if 문#########</p>
  {% if age < 0 %}
    <p>{{ age }}</p>
  {% else%}
    <p> {{0}}</p>
  {% endif %}
  <a href="{% url 'articles:index' %}">처음으로!</a>
{% endblock content %}